body {
	width: 100%;
}
header {
	height: 105px;
	background: url(../../images/triangles.png) repeat;
}
section {
	width: 1290px;
	height: 480px;
	background: url(../../images/working_1290_bw.jpg) no-repeat;
}