// Global Styles
strong {
	font-weight: 700;
}

header {
	height: 105px;
	background: url(../../images/triangles.png) repeat;
}

hgroup#logo {
	width: 1280px;
	h1 {
		padding: 15px 0 0 102px;
		float: left;
	}
	h2 {
		float: left;
		padding: 40px 0 0 35px;
		color: #FFF;
		font: $font-sans;
		font-size: 2.25rem;
	}
}

h1#menu a {
		display: block;
		padding-top: 30px;
		float: right;
		color: #FFF;
		font-weight: normal;
		font-family: $font-sans;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px #FFF;
		font-size: 0.8rem;
		&:hover {
			text-decoration: none;
		}
	}

section#latest {
	float: left;
	padding: 40px 25px;
	h1 {
		font-size: 1.3rem;
		font-weight: 700;
		color: #333;
		border-bottom: 2px solid $baseBlue;
	}
	h2.icon {
		float: right;
		margin-top: -1.3em;
		font-size: 1.7rem;
		color: #333;
	}
	h3 {
		font-weight: 700;
		padding-top: 1.3em;
	}
	p {
		padding-bottom: 3rem;
	}

}

aside.sidebar {
	float: right;
	padding: 30px 0;
	display: none;
	h2 {	
		font-size: 1.3rem;
		font-weight: 700;
		color: #333;
		border-bottom: 2px solid $baseBlue;
	}
}

nav {
	clear: both;
	ul {
		list-style: none;
	li {
		float: left;
		}
	}
	a {
		display: block;
		text-transform: uppercase;
		text-align: center;
		border: none;
		&:link, &:visited {
			color: darken($baseBlue, 10%);
		}
		&:hover, &:active {
			text-decoration:none;
			color: $baseBlue;
		}
		i {
			color: #333;
		}
		.navtag {
			display: none; /* Tags only display in larger sizes */
			color: #333;
		}
	}
	
}

footer {
	height: 75px;
	width: 100%;
	background: url(../../images/triangles.png) repeat;
	i.fa-search {
		padding: 25px 0.5rem 0 3rem;
		float: left;
		font-size: 1.25rem;
		color: #FFF;
	}
	input {
		float: left;
		&[name="searchbox"] {
			margin-top: 25px;
			width: 150px;
			height: 23px;
			border: none;
			border-radius: 50px;	
		}
		&[name="submit"] {
			margin: 25px 0 0 0.5rem;
			padding: 0 10px;
			height: 23px;
			background: $baseBlue;
			color: #FFF;
			font-size: 0.75rem;
			border: none;
			border-radius: 50px;
		}
	}

	ul.social-bookmarks {
		position: absolute;
		left: 360px;
		padding: 25px 0 0 0;
		font-size: 1.5rem;
		li {
			float: left;
			padding-right: 1.5rem;
		}
	}
}

// ----------------------- Media Queries ---------------------

// phone or small device
@media screen 
and (min-width: $break_micro)
and (max-width: $break_tiny) {
	#bannertext {
				width: 90%;
				margin: 15px 0 0 0;
	}
	section#latest {
		float: left;
	}

}


@media screen 
and (max-width: $break_small) {
	header {
		height: 87px;
	}
	hgroup#logo {
		h1 {
			padding: 15px 0 0 0;
		}
		h2 {
			position: absolute;
			top: 100px;
			font-size: 1.25rem;
			color: #333;
			padding: 0 15px 0 15px;
		}
		img {
			width: 220px;
			height: 53px;
		}
	}

	section#latest {
		padding: 0 25px;
		margin-top: -15px;
	}
	
	h1#menu a {
		padding: 30px 20px 0 0;
		font-size: 1rem;
	}

	#bannertext {
				width: 90%;
				padding: 40px 0;
				p {
					padding: 0.5rem 2rem;
					color: #000;
					font-size: 0.85rem;
					line-height: 125%;
				}
		}
	nav#mainmenu {
		width: 90%;
		position: relative;
		font-size: 1.5rem;
		i {
			padding-right: 1rem;
		}
		ul {
			width: 90%;
			background: rgba(0, 0, 0, 0.3);
			position: absolute;
			top: 375px;
			left: 30px;
			border-left: 1px solid #333;
			border-right: 1px solid #333;
			li {
			float: none;
			padding: 0px 15px 0 0;
			border-top: 1px solid #333;
				&:last-child {
					border-bottom: 1px solid #333;
				}
				a {
					text-align: center;
					padding: 25px;
				}
		}
		}
	}
	footer {
		height: 115px;
		i.fa-search {
			float: none;
		}
		input {
			float: none;
		}
		ul.social-bookmarks {
			left: 50px;
		}
	}
}

@media screen 
and (min-width: $break_small +1)
and (max-width: $break_medium) {
	hgroup#logo h2 {
		position: absolute;
		top: 80px;
		left: 66px;
		font-size: 1.65rem;
	}
	h1#menu a {
		padding: 30px 20px 0 0;
		font-size: 1rem;
	}
	section#banner {
		width: 760px;
		height: 283px;
		background: url(../../images/working_760_bw.jpg) no-repeat;
		#bannertext {
				float: left;
				width: 65%;
				padding: 315px 56px 20px 66px;
				p {
					padding: 0.5rem 2rem;
					color: #000;
					font-size: 0.9rem;
					line-height: 125%;
				}
		}
	}
	
	section#latest {
		padding: 0 25px;
		margin-top: 15px;
	}

	nav {
		padding: 15px 2rem 75px 5.5rem;
		font-size: 1.25rem;
		position: relative;
		i {
		font-size: 1.5rem;
		position: absolute;
		left: 1.5rem;
		top: 1.75rem;
			&.fa-paragraph {
				left: 0.75rem;
			}
			&.fa-briefcase {
				left: 1.7em;
			}
		}
		ul {
			li {
				padding-right: 1.65rem;
				position: relative;
			}
		}
	}
	footer {
		height: 150px;
	}
}

@media screen 
and (min-width: $break_medium +1)
and (max-width: $break_large) {
	header {
		width: 100%;
	}
	h1#menu a {
		padding: 0;
		position: absolute;
		top: 43px;
		left: 910px;
		font-size: 1rem;
	}
	section#banner {
		width: 1280px;
		height: 480px;
		background: url(../../images/working_1280_bw.jpg) no-repeat;
		position: relative;
		overflow: hidden;
		#bannertext {
			width: 33%;
			height: 480px;
			background: $opacBlue;
			position: absolute;
			top: 0;
			bottom: 0;
			p {
				padding: 0.5rem 3rem;
				color: #FFF;
				font-size: 1.25rem /* (26px / 16px) */;
				text-shadow: 1px 1px 1px #333;
				line-height: 125%;
				&#first {
					padding-top: 60px;
				}
			}
		}
	}
	section#latest {
		width: 70%;
		padding-bottom: 0px;
	}
	aside.sidebar {
		display: block;
		float: right;
		width: 20%;
	}

	nav {
		padding: 1.5rem 4.25rem;
		overflow: hidden;
		font-size: 1.2rem;
		i {
		padding-right: 0.35rem;
		}
		ul {
			li {
				padding-right: 1.45rem;
				position: relative;
				.navtag {
					display: block;
					font-size: 0.9rem;
					text-transform: lowercase;
					text-align: center;
				}
			}
		}
	}

	footer {
		i.fa-search {
			padding: 25px 0.5rem 0 4.25rem;
		}
		ul.social-bookmarks {
			font-size: 1.5rem;
			left: 385px;
		}
	}

}

@media screen 
and (min-width: $break_large +1) {
	header {
		width: 1280px;
	}
	h1#menu a {
		position: absolute;
		padding: 0;
		top: 43px;
		left: 950px;
		font-size: 1rem;
	}
	section#banner {
		width: 1280px;
		height: 480px;
		background: url(../../images/working_1280_bw.jpg) no-repeat;
		position: relative;
		overflow: hidden;
		#bannertext {
			width: 33%;
			height: 480px;
			background: $opacBlue;
			position: absolute;
			top: 0;
			bottom: 0;
			p {
				padding: 0.5rem 3rem;
				color: #FFF;
				font-size: 1.25rem /* (26px / 16px) */;
				text-shadow: 1px 1px 1px #333;
				line-height: 125%;
				&#first {
					padding-top: 60px;
				}
			}
		}
	}
	
	section#latest {
		width: 70%;
		padding-bottom: 0;
	}

	aside.sidebar {
		display: block;
		float: right;
		width: 20%;
	}

	nav {
		padding: 1.5rem 6.25rem;
		overflow: hidden;
		font-size: 1.45rem;
		i {
		padding-right: 0.45rem;
		}
		ul {
			li {
				padding-right: 5rem;
				position: relative;
				.navtag {
					display: block;
					font-size: 1rem;
					text-transform: lowercase;
					text-align: center;
			}
		}
		}
	}
	footer {
		i.fa-search {
		padding: 25px 0.5rem 0 6.25rem;
		}
		ul.social-bookmarks {
			font-size: 1.8rem;
			padding: 22px 0 0 0;
			left: 425px;
		}
		li {
			padding-right: 1.8rem;
		}
	}
}

 @media screen 
and (min-width: $break_huge) {
	header {
		width: 1680px;
	}
	h1#menu a {
		position: absolute;
		padding: 0;
		top: 43px;
		left: 950px;
		font-size: 1rem;
	}
	section#banner {
		width: 1680px;
		height: 500px;
		background: url(../../images/working_1680_bw.jpg) no-repeat;
		#bannertext {
			height: 500px;
			p {
				padding: 0.5rem 5.3rem;
				&#first {
					padding-top: 75px;
				}
			}		
		}
	}
} 