$break_small: 480px;
$break_medium: 760px;
$break_large: 970px; 
$baseRed: red;
$opac_black: rgba(0,0,0,0.8);
$font-serif: Georgia, "Chaparral Pro", "Times New Roman", Times, serif;
$font-sans: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
