$break_micro: 290px;
$break_tiny: 450px;
$break_small: 560px;
$break_medium: 685px;
$break_large: 1090px; /* menu breaks at smaller than 1090 */
$break_huge: 1280px;
$baseBlue: #1487d4;
$opacBlue: rgba(20, 135, 212, 0.8); 
$font-serif: Georgia, "Chaparral Pro", "Times New Roman", Times, serif;
$font-sans: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
