@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* menu breaks at smaller than 1090 */
/* line 4, ../components/sass/_base.scss */
body {
  width: 100%;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 150%; }

/* line 11, ../components/sass/_base.scss */
em {
  font-style: italic; }

/* line 15, ../components/sass/_base.scss */
i {
  color: #1487d4; }

/* line 19, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* Link Styling */
/* line 25, ../components/sass/_base.scss */
a:link {
  text-decoration: none;
  color: #1487d4; }
/* line 29, ../components/sass/_base.scss */
a:hover, a:active {
  text-decoration: underline; }
/* line 32, ../components/sass/_base.scss */
a:focus {
  outline: none; }
/* line 35, ../components/sass/_base.scss */
a:visited {
  color: #2b82bd; }

/* line 2, ../components/sass/_layout.scss */
header {
  height: 105px;
  background: url(../../images/triangles.png) repeat; }

/* line 7, ../components/sass/_layout.scss */
hgroup#logo {
  width: 1280px; }
  /* line 9, ../components/sass/_layout.scss */
  hgroup#logo h1 {
    padding: 15px 0 0 95px;
    float: left; }
  /* line 13, ../components/sass/_layout.scss */
  hgroup#logo h2 {
    float: left;
    padding: 40px 0 0 35px;
    color: #FFF;
    font: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.25rem; }

/* line 23, ../components/sass/_layout.scss */
nav a {
  text-transform: uppercase;
  text-align: center;
  border: none; }
  /* line 27, ../components/sass/_layout.scss */
  nav a:link, nav a:visited {
    color: #1069a5; }
  /* line 30, ../components/sass/_layout.scss */
  nav a:hover, nav a:active {
    text-decoration: none;
    color: #1487d4; }
  /* line 34, ../components/sass/_layout.scss */
  nav a i {
    color: #333; }
  /* line 37, ../components/sass/_layout.scss */
  nav a .navtag {
    display: none;
    /* Tags only display in larger sizes */
    color: #333; }

@media screen and (min-width: 1091px) and (max-width: 1280px) {
  /* line 68, ../components/sass/_layout.scss */
  header {
    width: 1280px; }

  /* line 71, ../components/sass/_layout.scss */
  section#banner {
    width: 1280px;
    height: 480px;
    background: url(../../images/working_1280_bw.jpg) no-repeat;
    position: relative;
    overflow: hidden; }
    /* line 77, ../components/sass/_layout.scss */
    section#banner #opacBlue {
      width: 33%;
      height: 480px;
      background: rgba(20, 135, 212, 0.8);
      position: absolute;
      top: 0;
      bottom: 0; }
      /* line 84, ../components/sass/_layout.scss */
      section#banner #opacBlue p {
        padding: 0.5rem 2rem;
        color: #FFF;
        font-size: 1.25rem;
        text-shadow: 1px 1px 1px #333;
        line-height: 125%; }
        /* line 90, ../components/sass/_layout.scss */
        section#banner #opacBlue p#first {
          padding-top: 45px; }

  /* line 96, ../components/sass/_layout.scss */
  nav {
    padding: 1.5rem 6.25rem;
    overflow: hidden;
    font-size: 1.45rem; }

  /* line 101, ../components/sass/_layout.scss */
  i {
    padding-right: 0.45rem; }

  /* line 104, ../components/sass/_layout.scss */
  ul {
    list-style: none; }
    /* line 106, ../components/sass/_layout.scss */
    ul a {
      display: block; }
    /* line 109, ../components/sass/_layout.scss */
    ul li {
      float: left;
      padding-right: 5rem;
      position: relative; }
      /* line 113, ../components/sass/_layout.scss */
      ul li .navtag {
        display: block;
        font-size: 1rem;
        text-transform: lowercase;
        text-align: center; } }
