@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* menu breaks at smaller than 1090 */
/* line 4, ../components/sass/_base.scss */
body {
  width: 100%;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 150%; }

/* line 11, ../components/sass/_base.scss */
em {
  font-style: italic; }

/* line 15, ../components/sass/_base.scss */
i {
  color: #1487d4; }

/* line 19, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* Link Styling */
/* line 25, ../components/sass/_base.scss */
a:link {
  text-decoration: none;
  color: #1487d4; }
/* line 29, ../components/sass/_base.scss */
a:hover, a:active {
  text-decoration: underline; }
/* line 32, ../components/sass/_base.scss */
a:focus {
  outline: none; }
/* line 35, ../components/sass/_base.scss */
a:visited {
  color: #2b82bd; }

/* line 2, ../components/sass/_layout.scss */
header {
  height: 105px;
  background: url(../../images/triangles.png) repeat; }

/* line 7, ../components/sass/_layout.scss */
hgroup#logo {
  width: 1280px; }
  /* line 9, ../components/sass/_layout.scss */
  hgroup#logo h1 {
    padding: 15px 0 0 102px;
    float: left; }
  /* line 13, ../components/sass/_layout.scss */
  hgroup#logo h2 {
    float: left;
    padding: 40px 0 0 35px;
    color: #FFF;
    font: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.25rem; }

/* line 22, ../components/sass/_layout.scss */
h1#menu a {
  display: none; }

/* line 27, ../components/sass/_layout.scss */
nav ul {
  list-style: none; }
  /* line 29, ../components/sass/_layout.scss */
  nav ul li {
    float: left; }
/* line 33, ../components/sass/_layout.scss */
nav a {
  display: block;
  text-transform: uppercase;
  text-align: center;
  border: none; }
  /* line 38, ../components/sass/_layout.scss */
  nav a:link, nav a:visited {
    color: #1069a5; }
  /* line 41, ../components/sass/_layout.scss */
  nav a:hover, nav a:active {
    text-decoration: none;
    color: #1487d4; }
  /* line 45, ../components/sass/_layout.scss */
  nav a i {
    color: #333; }
  /* line 48, ../components/sass/_layout.scss */
  nav a .navtag {
    display: none;
    /* Tags only display in larger sizes */
    color: #333; }

/* line 56, ../components/sass/_layout.scss */
footer {
  height: 75px;
  width: 100%;
  background: url(../../images/triangles.png) repeat; }
  /* line 60, ../components/sass/_layout.scss */
  footer i.fa-search {
    padding: 25px 0.5rem 0 3rem;
    float: left;
    font-size: 1.25rem;
    color: #FFF; }
  /* line 66, ../components/sass/_layout.scss */
  footer input {
    float: left; }
    /* line 68, ../components/sass/_layout.scss */
    footer input[name="searchbox"] {
      margin-top: 25px;
      width: 150px;
      height: 23px;
      border: none;
      border-radius: 50px; }
    /* line 75, ../components/sass/_layout.scss */
    footer input[name="submit"] {
      margin: 25px 0 0 0.5rem;
      padding: 0 10px;
      height: 23px;
      background: #1487d4;
      color: #FFF;
      font-size: 0.75rem;
      border: none;
      border-radius: 50px; }
  /* line 87, ../components/sass/_layout.scss */
  footer ul.social-bookmarks {
    position: absolute;
    left: 360px;
    padding: 25px 0 0 0;
    font-size: 1.5rem; }
    /* line 92, ../components/sass/_layout.scss */
    footer ul.social-bookmarks li {
      float: left;
      padding-right: 1.5rem; }

@media screen and (max-width: 560px) {
  /* line 111, ../components/sass/_layout.scss */
  header {
    height: 87px; }

  /* line 115, ../components/sass/_layout.scss */
  hgroup#logo h1 {
    padding: 15px 0 0 0; }
  /* line 118, ../components/sass/_layout.scss */
  hgroup#logo h2 {
    position: absolute;
    top: 100px;
    font-size: 1.25rem;
    color: #333;
    padding: 0 15px 0 15px; }
  /* line 125, ../components/sass/_layout.scss */
  hgroup#logo img {
    width: 220px;
    height: 53px; }

  /* line 130, ../components/sass/_layout.scss */
  h1#menu a {
    display: block;
    float: right;
    padding: 29px 15px 0 15px;
    color: #FFF;
    font-weight: normal;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #FFF;
    font-size: 0.8rem; }
    /* line 140, ../components/sass/_layout.scss */
    h1#menu a:hover {
      text-decoration: none; }

  /* line 144, ../components/sass/_layout.scss */
  #bannertext {
    width: 90%;
    padding: 40px 0; }
    /* line 147, ../components/sass/_layout.scss */
    #bannertext p {
      padding: 0.5rem 2rem;
      color: #000;
      font-size: 0.85rem;
      line-height: 125%; }

  /* line 154, ../components/sass/_layout.scss */
  nav#mainmenu {
    width: 90%;
    position: relative;
    font-size: 1.5rem; }
    /* line 158, ../components/sass/_layout.scss */
    nav#mainmenu i {
      padding-right: 1rem; }
    /* line 161, ../components/sass/_layout.scss */
    nav#mainmenu ul {
      width: 90%;
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 375px;
      left: 30px;
      border-left: 1px solid #333;
      border-right: 1px solid #333; }
      /* line 169, ../components/sass/_layout.scss */
      nav#mainmenu ul li {
        float: none;
        padding: 0px 15px 0 0;
        border-top: 1px solid #333; }
        /* line 173, ../components/sass/_layout.scss */
        nav#mainmenu ul li:last-child {
          border-bottom: 1px solid #333; }
        /* line 176, ../components/sass/_layout.scss */
        nav#mainmenu ul li a {
          text-align: center;
          padding: 25px; }

  /* line 183, ../components/sass/_layout.scss */
  footer {
    height: 115px; }
    /* line 185, ../components/sass/_layout.scss */
    footer i.fa-search {
      float: none; }
    /* line 188, ../components/sass/_layout.scss */
    footer input {
      float: none; }
    /* line 191, ../components/sass/_layout.scss */
    footer ul.social-bookmarks {
      left: 50px; } }
@media screen and (min-width: 561px) and (max-width: 685px) {
  /* line 200, ../components/sass/_layout.scss */
  hgroup#logo h2 {
    position: absolute;
    top: 80px;
    left: 66px;
    font-size: 1.65rem; }

  /* line 206, ../components/sass/_layout.scss */
  h1#menu a {
    display: block;
    float: right;
    padding: 10px 20px 0 0;
    color: #FFF;
    font-weight: normal;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #FFF;
    font-size: 1rem; }
    /* line 216, ../components/sass/_layout.scss */
    h1#menu a:hover {
      text-decoration: none; }

  /* line 220, ../components/sass/_layout.scss */
  section#banner {
    width: 760px;
    height: 283px;
    background: url(../../images/working_760_bw.jpg) no-repeat; }
    /* line 224, ../components/sass/_layout.scss */
    section#banner #bannertext {
      width: 75%;
      position: absolute;
      top: 400px;
      padding: 20px 66px; }
      /* line 229, ../components/sass/_layout.scss */
      section#banner #bannertext p {
        padding: 0.5rem 2rem;
        color: #000;
        font-size: 0.9rem;
        line-height: 125%; }

  /* line 237, ../components/sass/_layout.scss */
  nav {
    padding: 245px 2rem 75px 5.5rem;
    font-size: 1.25rem;
    position: relative; }
    /* line 241, ../components/sass/_layout.scss */
    nav i {
      font-size: 1.5rem;
      position: absolute;
      left: 1.5rem;
      top: 1.75rem; }
      /* line 246, ../components/sass/_layout.scss */
      nav i.fa-paragraph {
        left: 0.75rem; }
      /* line 249, ../components/sass/_layout.scss */
      nav i.fa-briefcase {
        left: 1.7em; }
    /* line 254, ../components/sass/_layout.scss */
    nav ul li {
      padding-right: 1.65rem;
      position: relative; }

  /* line 260, ../components/sass/_layout.scss */
  footer {
    height: 150px; } }
@media screen and (min-width: 686px) and (max-width: 1090px) {
  /* line 268, ../components/sass/_layout.scss */
  header {
    width: 100%; }

  /* line 271, ../components/sass/_layout.scss */
  section#banner {
    width: 1280px;
    height: 480px;
    background: url(../../images/working_1280_bw.jpg) no-repeat;
    position: relative;
    overflow: hidden; }
    /* line 277, ../components/sass/_layout.scss */
    section#banner #bannertext {
      width: 33%;
      height: 480px;
      background: rgba(20, 135, 212, 0.8);
      position: absolute;
      top: 0;
      bottom: 0; }
      /* line 284, ../components/sass/_layout.scss */
      section#banner #bannertext p {
        padding: 0.5rem 3rem;
        color: #FFF;
        font-size: 1.25rem;
        text-shadow: 1px 1px 1px #333;
        line-height: 125%; }
        /* line 290, ../components/sass/_layout.scss */
        section#banner #bannertext p#first {
          padding-top: 60px; }

  /* line 296, ../components/sass/_layout.scss */
  nav {
    padding: 1.5rem 4.25rem;
    overflow: hidden;
    font-size: 1.2rem; }
    /* line 300, ../components/sass/_layout.scss */
    nav i {
      padding-right: 0.35rem; }
    /* line 304, ../components/sass/_layout.scss */
    nav ul li {
      padding-right: 1.45rem;
      position: relative; }
      /* line 307, ../components/sass/_layout.scss */
      nav ul li .navtag {
        display: block;
        font-size: 0.9rem;
        text-transform: lowercase;
        text-align: center; }

  /* line 318, ../components/sass/_layout.scss */
  footer i.fa-search {
    padding: 25px 0.5rem 0 4.25rem; }
  /* line 321, ../components/sass/_layout.scss */
  footer ul.social-bookmarks {
    font-size: 1.5rem;
    left: 385px; } }
@media screen and (min-width: 1091px) {
  /* line 331, ../components/sass/_layout.scss */
  header {
    width: 1280px; }

  /* line 334, ../components/sass/_layout.scss */
  section#banner {
    width: 1280px;
    height: 480px;
    background: url(../../images/working_1280_bw.jpg) no-repeat;
    position: relative;
    overflow: hidden; }
    /* line 340, ../components/sass/_layout.scss */
    section#banner #bannertext {
      width: 33%;
      height: 480px;
      background: rgba(20, 135, 212, 0.8);
      position: absolute;
      top: 0;
      bottom: 0; }
      /* line 347, ../components/sass/_layout.scss */
      section#banner #bannertext p {
        padding: 0.5rem 3rem;
        color: #FFF;
        font-size: 1.25rem;
        text-shadow: 1px 1px 1px #333;
        line-height: 125%; }
        /* line 353, ../components/sass/_layout.scss */
        section#banner #bannertext p#first {
          padding-top: 60px; }

  /* line 359, ../components/sass/_layout.scss */
  nav {
    padding: 1.5rem 6.25rem;
    overflow: hidden;
    font-size: 1.45rem; }
    /* line 363, ../components/sass/_layout.scss */
    nav i {
      padding-right: 0.45rem; }
    /* line 367, ../components/sass/_layout.scss */
    nav ul li {
      padding-right: 5rem;
      position: relative; }
      /* line 370, ../components/sass/_layout.scss */
      nav ul li .navtag {
        display: block;
        font-size: 1rem;
        text-transform: lowercase;
        text-align: center; }

  /* line 380, ../components/sass/_layout.scss */
  footer i.fa-search {
    padding: 25px 0.5rem 0 6.25rem; }
  /* line 383, ../components/sass/_layout.scss */
  footer ul.social-bookmarks {
    font-size: 1.8rem;
    padding: 22px 0 0 0;
    left: 425px; }
  /* line 388, ../components/sass/_layout.scss */
  footer li {
    padding-right: 1.8rem; } }
@media screen and (min-width: 1280px) {
  /* line 396, ../components/sass/_layout.scss */
  header {
    width: 1680px; }

  /* line 399, ../components/sass/_layout.scss */
  section#banner {
    width: 1680px;
    height: 500px;
    background: url(../../images/working_1680_bw.jpg) no-repeat; }
    /* line 403, ../components/sass/_layout.scss */
    section#banner #bannertext {
      height: 500px; }
      /* line 405, ../components/sass/_layout.scss */
      section#banner #bannertext p {
        padding: 0.5rem 5.3rem; }
        /* line 407, ../components/sass/_layout.scss */
        section#banner #bannertext p#first {
          padding-top: 75px; } }
